@import '../../Assets/Styles/colors';

.header {
     padding: 4rem 0rem;
     display: flex;
     .header-left-container {
          display: flex;
          align-items: center;
          flex: 1;
          .navlinks-container {
               display: flex;
               .navlink {
                    color: rgba($white, 0.8);
                    font-size: 1.7rem;
                    margin-left: 5rem;
                    position: relative;
                    cursor: pointer;
                    transition: 0.2s ease;
                    &::after {
                         content: '';
                         position: absolute;
                         bottom: -1rem;
                         left: 0px;
                         width: 0;
                         height: 2px;
                         background-color: white;
                         transition: 0.2s ease;
                    }
                    &:hover {
                         color: $white;
                         &::after {
                              width: 100%;
                         }
                    }
               }
          }
          .logo-container {
               img {
                    height: 5rem;
               }
          }
     }
     .header-right-container {
          flex: 1.2;
          align-items: center;
          justify-content: flex-end;
          display: flex;
     }
}
