@import '../../Assets/Styles/colors';
$header-height: 12rem;

.header-space {
     height: $header-height;
}
.header {
     height: $header-height;
     position: fixed;
     left: 0px;
     width: 100%;
     display: flex;
     transition: 0.2s ease;
     padding: 0 12rem;
     .header-left-container {
          display: flex;
          align-items: center;
          flex: 1;
          .navlinks-container {
               display: flex;
               .navlink {
                    color: rgba($white, 0.8);
                    font-size: 1.7rem;
                    margin-left: 5rem;
                    position: relative;
                    cursor: pointer;
                    transition: 0.2s ease;
                    &::after {
                         content: '';
                         position: absolute;
                         bottom: -1rem;
                         left: 0px;
                         width: 0;
                         height: 2px;
                         background-color: white;
                         transition: 0.2s ease;
                    }
                    &:hover {
                         color: $white;
                         &::after {
                              width: 100%;
                         }
                    }
               }
          }
          .logo-container {
               img {
                    height: 5rem;
                    transition: 0.2s ease;
               }
          }
     }
     .header-right-container {
          flex: 1.2;
          align-items: center;
          justify-content: flex-end;
          display: flex;
     }
}
.header-white {
     background-color: rgba($white, 1);
     height: 10rem;
     .logo-container {
          img {
               -webkit-filter: invert(100%);
               filter: invert(100%);
          }
     }
     .header-left-container {
          .navlinks-container {
               .navlink {
                    color: rgba($black, 1);
                    &::after {
                         background-color: $black;
                    }
                    &:hover {
                         color: $black;
                         &::after {
                              width: 100%;
                         }
                    }
               }
          }
     }
}
