$black: #000000;
$white: #ffffff;
$grey-light: rgba(223, 223, 223, 0.5);
$transparent: transparent;
$profile-back-color: #f1b000;
$pattern-1-color: #0047b0;
$pattern-2-color: #00b09b;
$pattern-3-color: #6300b0;
$pattern-background-light: #4c32e0;
